.filter {
    width: 98%;
    height: 60px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.24);
    margin-top: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.filter input {
    height: 28px;
    width: 22%;
    border: 2px solid #0000ff5e;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0 10px;
    color: #000000c7;
    outline: none;
}
.filter input:focus {
    border: 2px solid rgba(70, 79, 255, 0.812);
}
.broom {
    cursor: pointer;
}
.broom img {
    height: 24px;
}
@media only screen and (max-width: 600px) {
    .filter {
        height: auto;
        flex-direction: column;
        padding: 16px 0;
    }
    .filter input {
        width: 98%;
        margin-bottom: 12px;
        height: 32px;
    }
    .broom {
        width: 98%;
        background-color: #ff00001a;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        height: 28px;
        align-items: center;
    }
    .broom img {
        height: 20px;
    }
}