body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    215deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 12%,
    hsl(315deg 100% 27%) 23%,
    hsl(329deg 100% 36%) 35%,
    hsl(337deg 100% 43%) 46%,
    hsl(357deg 91% 59%) 57%,
    hsl(17deg 100% 59%) 68%,
    hsl(34deg 100% 53%) 78%,
    hsl(45deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%
  );
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
